/**
 * by WonSeok Park(onpws@naver.com) on 2016. 07. 01
 */

@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0; padding:0;}
body,input,textarea,select,button,table {font-family:'나눔고딕',NanumGothic,Malgun Gothic,'돋움',Dotum,helvetica,arial,sans-serif; font-size:14px;}
img,fieldset {border:0;}
ul,ol {list-style:none;}
em,address {font-style:normal;}
a {text-decoration:none;}
a:hover,a:active,a:focus {text-decoration:underline;outline: 0;}
input,select{vertical-align:middle}
article,aside,dialog,footer,header,section,footer,nav,figure {display:block; margin:0; padding:0;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}/* html5 tags */
b,strong {font-weight: bold;}
sub,sup {font-size: 75%;line-height: 0;position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
abbr {border-bottom:1px dotted black;}
button {overflow: visible; cursor:pointer;}
table {border-collapse:collapse;border-spacing: 0;}

/* Fire Fox button style bug */
button::-moz-focus-inner {padding:0; border:0;}
